<div class="form-card card" data-id="{{line.id}}">
<div class="line-text-container">
  <div class="line-text">
    <p>
    {{#if line.text}}
    {{line.text}}
    {{else}}
    No description.
    {{/if}}
    </p>

  </div>
 {{#if line.editable}}
 <div class="edit-link-container"><i class="edit-options fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
   <!-- Dropdown Structure -->
   <ul  style="display:none;" class='edit-dropdown-content'>
     <li class="edit" data-id="{{line.id}}">Edit</li>
     <li class="delete" data-id="{{line.id}}">Delete</li>
   </ul>
 </div>
   <!-- <button class="delete" data-id="{{line.id}}" type="button" name="button">Remove</button>
   <button class="edit" data-id="{{line.id}}" type="button" name="button">Edit</button>
<i class="fa fa-ellipsis-v" aria-hidden="true"></i> </div> -->
 {{/if}}
</div>
</div>


<!-- <div class="line-text" style="
    display: flex;
">
  <div style="
    flex-grow: 1;
    padding: 1.2em;
"><p>Insert pickup line here</p></div>


</div> -->
