<div class="form-card card line-parent"  data-id="{{line.id}}">
  <div style="display:flex;" class="display-line-container">

  <div id="votes-{{line.id}}" class="voting-container">
    <div class="vote-container">
      <i data-value="1" data-id="{{line.id}}"class="vote up-vote material-icons {{line.userUpVotedClass}}">arrow_drop_up</i>
    </div>
      <div data-id="total-points-{{line.id}}" class="total vote-container">{{line.voteSummary.total}}</div>
    <div class="vote-container">
      <i data-value="-1" data-id="{{line.id}}" class="vote down-vote material-icons {{line.userDownVotedClass}}">arrow_drop_down</i>
    </div>
  </div>
<div style="flex: 1;" class="line-text-container">
  <div class="line-text">
    <p>{{#if line.text}}{{line.text}}{{else}}No description.{{/if}}</p>
  </div>
 {{#if line.editable}}
 <div class="edit-link-container"><i class="edit-options fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
   <!-- Dropdown Structure -->
   <ul  style="display:none;" class='card edit-dropdown-content'>
     <li class="edit" data-id="{{line.id}}">
       <i class="material-icons">edit</i>
       Edit
     </li>
     <li class="delete" data-id="{{line.id}}">
       <i class="material-icons">delete</i>
       Delete
     </li>
   </ul>
 </div>
 {{/if}}
</div>

</div>

</div>
